		/* -------GENERAL-------*/
        *{
            margin:0px;
            padding:0px;
        }
        
        
                /* -------HEADER-------*/
             a:visited{
            color:rgb(53, 53, 117);
             }
        
        header {
            grid-area: header;
            background-color: rgb(177, 0, 177);
            text-align: center;
        }

        main {
            grid-area: main;
            background-color: blue;
            text-align:center;
        }        
        nav ul li{
            display:inline-block;
        }     
            
        nav a {
                text-decoration: none;
                color: 	#0077b3;                  
        }
    

        