		/* -------GENERAL-------*/
        *{
            margin:0px;
            padding:0px;
        }
        
        
                /* -------HEADER-------*/
        a:visited{
            color:blue;
        }
        header {
            grid-area: header;
           
            text-align: center;
        }

        main {
            grid-area: main;
           
            text-align:center;
        }        
        nav ul li{
            display:inline-block;
            line-height: 2rem;
            border-radius: 20px;
            
        nav  {
                text-decoration: none;
                
                                 
        }
    }

        